<link href="css/settings.css" rel="stylesheet">
<ion-view title="Chat" hide-tabs="false">
<ion-header-bar align-title="left" class="bar-positive">
  <div class="buttons">
    <button class="button button-icon ion-android-arrow-back" ui-sref="tab.settings"></button>
  </div>
  <h1 class="title">Chat</h1>
</ion-header-bar>

<ion-content class="about-main light-bg">
	<iframe height="100%" width="100%" src='https://webchat.botframework.com/embed/julie-ai?s=jlX846Kb-54.cwA.NDs.4hBChkTVsJ9FsdFKY8XeldJzYCLGeuzI0YDuHlGtfhg'></iframe>
</ion-content>
</ion-view>
