<link href="css/sign.css" rel="stylesheet">
<ion-content scroll="false">
	<div class="row bg-full" style="margin-top: 30%;background-image:url(css/img/smartbank.jpg);height: 20%;"></div>
  <div class="text-center">
    <!-- <h1>Smart Bank</h1> -->
    <h4 style="font-size: 18px; font-family: cursive; color: #ef473a; font-style: italic; font-weight: bolder; margin-top: 50px">New way talking to your bank</h4>
  </div>
	<div class="walkthrough-footer">
	<button ui-sref="login" class="button button-assertive width-60 margin-auto">Login</button>
	<!-- <div class="text-center padding-vertical">
		<a ui-sref="register" class="icon-right">Register a new account <i class="ion-ios-arrow-right"></i></a>
	</div> -->
	</div>
</ion-content>
